<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Articles List</title>
  <link rel="stylesheet" href="/styles.css">
</head>

<body>
  <h1>List of Articles</h1>
  <ul>
    <% articles.forEach(article=> { %>
      <li><a href="/articles/<%= article.id %>">
          <%= article.title %>
        </a></li>
      <% }); %>
  </ul>
  <a class="button" href="/">Back to Home</a>
</body>

</html>