doctype html
html
  head
    title User Details
    link(rel="stylesheet", href="/styles.css")
  body
    h1 User: #{user.name}
    p Email: #{user.email}
    a.button(href='/users') Back to Users List
    a.button(href='/') Back to Home
